version: '3' 

services:
  jenkins:
    image: 'jenkins-devtools:latest'
    build: .
    container_name: jenkins
    restart: unless-stopped
    hostname: {{jenkins_domain}}
    privileged: true
    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
    ports:
      - '50000:50000'
    volumes:
      - {{directory_deploy_volumes}}/jenkins/home:/var/jenkins_home
      - {{directory_deploy_volumes}}/jenkins/jobs:/usr/share/jenkins/ref/jobs
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
networks:
  default:
    external:
      name: proxy_network
